/* body {
    background: #eee
} */
.row{
    margin-left: 2rem;
}
.heading {
    /* padding-bottom: 0; */
    margin-top: 3rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 3rem;
}
.heading span {
    color: rgb(64, 64, 64);
    text-transform: uppercase;
}
.snip1527 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    float: left;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    margin: 10px 1%;
    max-width: 310px;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%
}

.snip1527 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease
}
/* .snip1527 .image{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.snip1527 img {
    width: 100%;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    position: relative
}

.snip1527 figcaption {
    padding: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1
}

.snip1527 figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff4000;
    content: '';
   
    opacity: 0.8;
    z-index: -1
}



.snip1527 h3,
.snip1527 p {
    margin: 0;
    padding: 0
}

.snip1527 h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px
}

.snip1527 p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0px
}

.snip1527 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1
}

.snip1527:hover img,
.snip1527.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

img {
    border-radius: 5px
}

