<header class="header">

  <a href="#" class="logo">
      <img src = "../../assets/images/logo.png" alt="">
  </a>

  <nav class="navbar">
      <a href="#home">Ana Sayfa</a>
      <a href="#about">Hakkımızda</a>
      <a href="#menu">Menu</a>
      <a href="#products">Ürünlerimiz</a>
      <a href="#contact">İletişim</a>
      <a href="#blogs">Blog</a>
  </nav>

  <div class="icons">
      <div class="fas fa-search" id="search-btn"></div>
      <div class="fas fa-shopping-cart" id="cart-btn"></div>
      <div class="fas fa-bars" id="menu-btn"></div>
  </div>

  <div class="search-form">
      <input type="search" id="search-box" placeholder="search here...">
      <label for="search-box" class="fas fa-search"></label>
  </div>


</header>