<body>
  <app-nav></app-nav>
  <br>  
  <section class="home" id="home">

    <div class="container-fluid">       
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="wrapper">
            <img [src]="image.src" alt="Random first slide" style="object-fit:scale-down">
          </div>
          <div class="carousel-caption">
            <h3>{{ image.title }}</h3>
            
          </div>
        </ng-template>
      </ngb-carousel>
           
      </div>>
  </section>
  

</body>