@import url(https://fonts.googleapis.com/css?family=Righteous);

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #F4EEE2;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.about {
    width: 100%;
    background-color: #2e4057;

}

.about .row {

    display: flex;
    align-items: center;
    background: #fff;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: ; */
}

.about .heading {
    padding-bottom: 0;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: rgb(64, 64, 64);
    text-transform: uppercase;
}

.about .about-text {
    margin-top: 40px;
}

.about .row .image {
    flex: 1 1 45rem;
    padding: 4rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    /* width: auto; */
    flex: 1 1 45rem;
    padding: 2rem;
    text-align: center;
}

.about .row .content h3 {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(64, 64, 64);

}

.about .row .content p {
    font-size: 1.3rem;
    color: rgb(103, 103, 103);
    padding: 1rem 0;
    line-height: 1.8;
    font-family: 'Open Sans', sans-serif;
}




.about .row {
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    /* background: #f7f7f7; */
}

span {
    margin: 0 15px;
    line-height: .7;
    text-shadow: 0 0 2px rgba(0, 0, 0, .45);
    animation: span 3s ease-in infinite alternate;
}

.main {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;


    @media(max-width: 600px) {
        transform: scale(.65);
    }
}

.letter {
    display: inline-flex;
    height: 30px;
    width: 27px;
    /* border: 2.5px solid #FF1EAD; */
    border: 2.35px solid black;
    border-radius: 14px;
    box-shadow:
        0 0 2px rgba(0, 0, 0, .75),
        inset 0 0 2px rgba(0, 0, 0, .45);

    animation: letter 3s ease-in-out infinite alternate;
}

@keyframes span {

    0%,
    30% {
        margin: 0 15px;
    }

    70%,
    100% {
        margin: 0 5px;
    }
}

@keyframes letter {

    0%,
    30% {
        width: 27px;
    }

    70%,
    100% {
        width: 30vw;
    }
}

.row .main {
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    margin-bottom: 1rem;
    /* background: #f7f7f7; */
}