.heading span {
    color: rgb(64, 64, 64);
    text-transform: uppercase;


}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #F4EEE2;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.about .row {

    display: flex;
    align-items: center;
    background: #fff;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: ; */
}

.about .heading {
    padding-bottom: 0;
}

.about .about-text {
    margin-top: 40px;
}

.about .row .image {
    flex: 1 1 45rem;
    padding: 4rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(64, 64, 64);
}

.about .row .content p {
    font-size: 1.6rem;
    color: rgb(103, 103, 103);
    padding: 1rem 0;
    line-height: 1.8;
    font-family: 'Open Sans', sans-serif;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}


/* SIDEBAR */



































.container-fluid {
    /* 
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.container-fluid .wrapper img {
    max-width: 100%;
    height: auto;

}

/* .home .content{
    max-width: 60rem;
    
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#2C2C74;
    justify-content:right;
}

.home .content p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8;
    padding:1rem 0;
    color:#2C2C74;
} */