/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #ff4000;
    --black: #ff4000;
    --bg: #ff4000;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    background: #eee;
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.banner{
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
}
.banner .owl-prev, .banner .owl-next{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: transparent !important;
    transition: .3s all ease;
}

.banner .owl-prev{
left: 10px;
}

.banner .owl-next{
    right: -60px;
}
.banner .owl-prev::before, .banner .owl-next::before{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
    background: #ffffff24;
    content: '';
    border-radius: 50%;
}
.banner .owl-prev::before{
    left: 44px;
}
.banner .owl-next::before{
    right: -106px;
}

.banner .owl-prev i, .banner .owl-next i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

}
.banner .owl-next i{
    right: 0%;
}
.banner .owl-prev:hover::before, .banner .owl-next:hover::before{
    background: #ff4000 !important;
}