/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans:wght@400;700&display=swap');


/*  */



.banner {
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.banner .owl-prev,
.banner .owl-next {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: transparent !important;
    transition: .3s all ease;
}

.banner .owl-prev {
    left: 10px;
}

.banner .owl-next {
    right: -60px;
}

.banner .owl-prev::before,
.banner .owl-next::before {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
    background: #ffffff24;
    content: '';
    border-radius: 50%;
}

.banner .owl-prev::before {
    left: 44px;
}

.banner .owl-next::before {
    right: -106px;
}

.banner .owl-prev i,
.banner .owl-next i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

}

.banner .owl-next i {
    right: 0%;
}

.banner .owl-prev:hover::before,
.banner .owl-next:hover::before {
    background: #ff4000 !important;
}